[flake8]
max-complexity = 16
max-line-length = 80
doctests = True
show-source = True
accept-encodings = utf-8,utf-16
format = default

select =
    C
    E
    F
    W
    B
    BLK
    B9
    I
    T

ignore =
    B903
    E203
    E501
    E731
    W503
    B006
    C101
    C401
    C403
    C405
    C408
    C8
